[submodule "thirdparty/mingle"]
	path = thirdparty/mingle
	url = git@github.com:dbrnz/mingle.git
[submodule "thirdparty/aggregation"]
	path = thirdparty/aggregation
	url = git@github.com:dbrnz/aggregation.git
	branch = celldl
