/* Colours of elements */

.sodium {
    color: #FE44F9;
    stroke: #FE44F9;
    }
quantity.sodium { color: radial-gradient(white 20%, #FEA3FB); }
transporter.sodium { color: radial-gradient(white 40%, #FE44F9); }

.potassium {
    color: #2209E1;
    stroke: #2209E1;
    line-color: #2209E1;
}
quantity.potassium { color: radial-gradient(white 20%, #9C9FF5); }
transporter.potassium { color: radial-gradient(white 40%, #2209E1); }
reaction.potassium { color: radial-gradient(white 40%, #2209E1); }

.calcium {
    color: #0AD8FF;
    stroke: #0AD8FF;
}
quantity.calcium { color: radial-gradient(white 20%, #0AD8FF); }
transporter.calcium { color: radial-gradient(white 40%, #0AD8FF); }

.chloride {
    color: #1AF32E;
    stroke: #1AF32E;
}
quantity.chloride { color: radial-gradient(white 20%, #BEFFCA); }
transporter.chloride { color: radial-gradient(white 40%, #BEFFCA); }

.hydrogen {
    color: #FFA606;
    stroke: #FFA606;
}
quantity.hydrogen { color: radial-gradient(white 20%, #FFD12E); }
transporter.hydrogen {
    color: radial-gradient(white 40%, #202020);
    stroke: #000000;
}

.hydroxide {
    color: #4A9B00;
    stroke: #4A9B00;
}
quantity.hydroxide { color: radial-gradient(white 20%, #A4D5A0); }
transporter.hydroxide {
    color: radial-gradient(white 40%, #A4D5A0);
    stroke: #000000;
}

.bicarbonate {
    color: #A00096;
    stroke: #A00096;
}
quantity.bicarbonate { color: radial-gradient(white 20%, #B254AD); }
transporter.bicarbonate {
    color: radial-gradient(white 40%, #A00096);
    stroke: #000000;
}

.metabolic {
    color: #F50D00;
    stroke: #FF808B;
}
quantity.metabolic { color: radial-gradient(white 20%, #FF808B); }

flow {
    color: radial-gradient(#ABFF9E, #D5FFD5);
    text-color: #059996;
}

potential {
    color: radial-gradient(#FF9299, #FFFDEE);
    text-color: #D93300;
}
