.border {
    border: 2px solid #888;
}
input {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 0px;
}
svg {
    cursor: pointer;
    border: 2px solid #000080;
    pointer-events: visible;
}
#celldl-editor {
    width: 45%;
    height: 100%;
}
#editor-resize {
    width: 8px;
    height: 100%;
    cursor: ew-resize;
}
#cell-diagram {
    flex: 11 11 55%;
    height: 100%;
}
#palette {
    width: 5%;
    height: 100%;
    align-self: flex-start;
}
#footer {
    width: 45%;
}
#footer1 {
    flex: 11 11 55%;
}
#flex {
    display: flex;
    width: 100%;
    height: 100%;
}
#flex-footer {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}
#flex-rows {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
#diagram-grid-group_ {
    pointer-events: none;
}
